.Cabecalho-container{
    /* background-color: lightblue; */
    background-color: var(--cor-4);
    color: var(--cor-5);
    width: fit-content;
    justify-content: center;
    align-items: center;
    margin: auto;
}